<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="festispec"
             connectionString="Server=tcp:festispec2.database.windows.net,1433;Initial Catalog=festispec;Persist Security Info=False;User ID=berm;Password=Bart_2018!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
    </connectionStrings>
</configuration>