.h2, h2 {
    text-align: center;
}

ul #test_cj {
    padding: 0px;
    list-style-type: none;
    list-style: none;
    
}

#test_cj li {
    padding: 0px;
    list-style-type: none;
    list-style: none;
}
